{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      },
      "modules": false,
      "loose": true
    }],
    "react",
    "stage-2"
  ],
  "env": {
    "commonjs": {
      "presets": [
        ["env", {
          "targets": {
              "browsers": ["last 2 versions"]
          },
          "modules": "commonjs",
          "loose": true,
          "useBuiltIns": true
        }],
        "stage-2"
      ]
    }
  }
}
